*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    }
body{  /* fundo tela */
    background: linear-gradient(to bottom,#5f0101,#000000);
    min-height: 100vh;
     }


header {
    position: relative;
color: #ffffff;
background-color: #5f0000;
height: 60px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-image: linear-gradient(to right,#cc0101,#ca0000);
    
}
.container li{
    display: inline-block;
    font-size: 10%;
    text-align:right;
    font-weight: bold;
    
}
.cabe li a {
    color: rgba(255, 255, 255, 0.76); /* Torna o texto dos links branco */
    text-decoration: none; /* Remove o sublinhado dos links */
    margin: 0 50px;
background-color: #ca0000;
    padding: 5px 17px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 32px;
   
    
 
}
.cabe li a:hover{
    background-color: #630000;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    

}
.cabe img{
    height: 100%;
    position: absolute;
    left: 20px;
    bottom: 1px;
    right: 100%;
    transition: all 1s;
    cursor: pointer;
}
.cabe img:hover{
    -webkit-filter: blur(1px);
filter: blur(3px);


}
header h1{
    
        margin-left: 20%;
        background: linear-gradient(90deg,#006ae4,#fbff02);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Courier New', Courier, monospace;
    font-size: 330%;
    }
    body{
        position: relative;
        
    }
   .iiim img{
    position: absolute;
    display: flex;
    height: 300px;
    width: 20%;
    transition: all 2s;
    cursor: pointer;
   
    }
    .iiim img:hover{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
   
    #ima{
        height: 350px;
        width: 30%;
        margin: 7%;
       right: 65%;

    }
    #ime{
        height: 400px;
        width: 52%;
        margin: 4%;
        left: 13%;
    }
    #imo{
        height: 450px;
        width: 25%;
        margin: 5%;
        right: 2% ;
    }

#ma{
    position: absolute;
    margin: 3%;
    left: 3%;
}
#vi{
    position: absolute;
    margin: 3%;
    right: 42%;
}
#tur{
    position: absolute;
    margin: 3%;
    right: 6%;
}
.ba:hover{
    background-color: rgb(0, 0, 0);
transition: all 1s;
color: #ca0000;


}
.ba a:hover{

transition: all 1s;
color: #ca0000;


}
.bu:hover{
    background-color: rgb(228, 0, 152);
transition: all 1s;
color: #000000;


}
.bu a:hover{

transition: all 1s;
color: #000000;


}
.bu{
  position: absolute;
    margin: 32%;
    margin-left: 6%;
    height: 6%;
    width: 10%;
    background-color: #000000;
    border-radius: 18%;
     
    
}
.bu a{
    text-decoration: none; /* Remove o sublinhado dos links */
    color: red;
    font-weight: bold;
    font-size: 25px;
}


.ba{
    position: absolute;
      margin: 32%;
      margin-left: 46%;
      height: 6%;
      width: 10%;
      background-color: #ff00b3;
      border-radius: 18%;
       
      
  }
  .ba a{
      text-decoration: none; /* Remove o sublinhado dos links */
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-size: 25px;
  }

  .be{
    position: absolute;
      margin: 32%;
      margin-left: 80%;
      height: 6%;
      width: 10%;
      background-color: #ffa600;
      border-radius: 18%;
       
      
  }
  .be a{
      text-decoration: none; /* Remove o sublinhado dos links */
      color: rgb(0, 218, 98);
      font-weight: bold;
      font-size: 25px;
  }
  .be:hover{
    background-color: rgb(0, 233, 58);
transition: all 1s;
color: #000000;


}
.be a:hover{

transition: all 1s;
color: #ffae00;
}
footer {
    background-color: rgb(63, 63, 63);
   width: 100%;
   color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
}

.footer-content {
    justify-content: center;
    margin: 3%;
    align-items: center;
    

}